<html>
<head>
<style>
body {
	width: 374px; /* pub is 384 */
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Oxygen Mono', sans-serif;
	padding-top:10px;
	padding-bottom: 10px;

}

</style>
</head>
<body>
<div>
	<h2><%= @word.word %></h2>
	<p><%= @word.definition %></p>
</div>
</body>
</html>